$primary: #00C67B;
$gray:  white;

.left_menu {
  width: 250px;
  background: rgb(107,84,251);
  background: linear-gradient(183deg, rgba(107,84,251,1) 0%, rgba(105,73,251,1) 35%, rgba(102,54,250,1) 100%);
  padding: 20px 36px;
  .logo {
  }
  .splitter{
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin: 30px 0;
  }
}

.custom_checkbox{
  margin-bottom: 35px;
  .cbx {
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    margin-bottom: 0;

    span {
      display: inline-block;
      vertical-align: middle;
      transform: translate3d(0, 0, 0);

      &:first-child {
        position: relative;
        width: 17px;
        height: 17px;
        border-radius: 50%;
        transform: scale(1);
        vertical-align: middle;
        border: 1px solid $gray;
        transition: all .2s ease;

        svg {
          position: absolute;
          z-index: 1;
          top: 4px;
          left: 3px;
          fill: none;
          stroke: white;
          stroke-width: 2;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-dasharray: 16px;
          stroke-dashoffset: 16px;
          transition: all .3s ease;
          transition-delay: .1s;
          transform: translate3d(0, 0, 0);

          polyline {
            stroke-width: 3;
          }
        }

        &:before {
          content: "";
          width: 100%;
          height: 100%;
          background: #506EEC;
          display: block;
          transform: scale(0);
          opacity: 1;
          border-radius: 50%;
          transition-delay: .2s;
        }


      }

      &:last-child {
        color: white;
        margin-left: 8px;
        font-size: 15px;

        &:after {
          content: "";
          position: absolute;
          top: 8px;
          left: 0;
          height: 1px;
          width: 100%;
          background: $gray;
          transform-origin: 0 0;
          transform: scaleX(0);
        }
      }
    }

    &:hover span:first-child {
      border-color: $primary;
    }
  }

  .inp-cbx {
    display: none;

  }

  .inp-cbx:checked + .cbx {
    span {
      &:first-child {
        border-color: $primary;
        background: $primary;
        animation: check .6s ease;

        svg {
          stroke-dashoffset: 0
        }

        &:before {
          transform: scale(2.2);
          opacity: 0;
          transition: all .6s ease;
        }
      }

      &:last-child {
        font-weight: bold;
      }
    }
  }

  @keyframes check {
    50% {
      transform: scale(1.2);
    }
  }
}


