.container_done{
  h3 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 35px;
  }
  .logo{
    text-align: center;
    margin-bottom: 20px;
    svg {
      path {
        fill: #694AFB;
      }
    }
  }
  .done_text{
    text-align: center;
    margin-bottom: 30px;
  }
  .submit_button{
    padding: 9px 25px;
  }
}