.container_done{
  h3 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 35px;
  }
  .done_text{
    text-align: center;
    margin-bottom: 30px;
  }
  .submit_button{
    padding: 9px 25px;
  }
}